doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="favicon.ico")
    title Shopia
  body
    div(class="wrapper")
      header(class="header")
        div(class="header__wrapper")
          div(class="hamburger-menu")
            input(id="menu__toggle" type="checkbox")
            label(class="menu__btn" for="menu__toggle")
              span
            ul(class="menu__box")
              -const menu = ['Home', 'Gallery', 'Categories', 'Pages', 'My Account', 'My WishList', 'Login'];
              -for (let i = 0; i < menu.length; i++)
                li
                  a(class="menu__item" href="#")= menu[i]
          img(src="assets/images/logo.png" alt="logo")
          div(class="container top-header")
            div
              i(class="fas fa-phone-alt")
              a(class="top-header__phone" href="#") Call +001 555 801
            nav(class="top-header__menu")
              ul(class="top-header__list")
                li
                  a(class="top-header__link" href="#") Welcome Msg!
                li
                  a(class="top-header__link" href="#") My account
                li
                  a(class="top-header__link" href="#") My whistlist
                li
                  a(class="top-header__link" href="#") Login
        div(class="container main-header")
          nav(class="main-header__menu")
            ul(class="main-header__list")
              li
                a(class="main-header__link" href="#") Home
              li
                a(class="main-header__link" href="#") Gallery
              li
                a(class="main-header__link" href="#") Categories
              li
                a(class="main-header__link" href="#") Pages
          img(class="main-header__logo" src="assets/images/logo.png")
          nav(class="main-header__social-menu")
            ul(class="main-header__social-list")
              li
                a(class="main-header__social-link" href="#")
                  i(class="fab fa-facebook-f")
              li
                a(class="main-header__social-link" href="#")
                  i(class="fab fa-twitter")
              li
                a(class="main-header__social-link" href="#")
                  i(class="fab fa-instagram")
              li
                a(class="main-header__social-link" href="#")
                  i(class="fab fa-google-plus-g")
            button RUPIAH
              i(class="fas fa-angle-down")
      div(class="swiper-container")
        div(class="swiper-wrapper")
          div(class="swiper-slide image")
            div(class="swiper-discount")
              div(class="swiper-discount__box")
                h4 mid-season
                h3 sale
                div(class="swiper-discount__text")
                  span(class="swiper-discount__line")
                  p up to
                  span(class="swiper-discount__line")
                  span(class="swiper-discount__line-bg")
                  span
                  span(class="swiper-discount__line-bg")
                p 50% off
            button shop now
          div(class="swiper-slide image")
          div(class="swiper-slide image")
        div(class="swiper-pagination")
      main(class="main container")
        div(class="guarantee-block")
          div(class="guarantee-block__item arrow-right")
            i(class="far fa-paper-plane")
            div
              h5 FREE SHIPPING
              span In Order Min $200
          div(class="guarantee-block__item arrow-middle")
            i(class="far fa-clock")
            div
              h5 30-DAYS RETURNS
              span Money Back  Guarantee
          div(class="guarantee-block__item arrow-left")
            i(class="far fa-life-ring")
            div
              h5 24/7 SUPPORT
              span Lifestyme Support
        div(class="gallery-title")
          div(class="gallery-title__line")
          div(class="gallery-title__text")
            i(class="square")
            h5 HandPicked
            i(class="square")
          div(class="gallery-title__line")
        section(class="gallery")
          div(class="gallery__item")
            img(src="assets/images/boots.jpg" alt="gallery")
          div(class="gallery__item bg-item")
            img(src="assets/images/girl.jpg" alt="gallery")
          div(class="gallery__item")
            img(src="assets/images/lace.jpg" alt="gallery")
          div(class="gallery__item")
            img(src="assets/images/bracelet.jpg" alt="gallery")
          div(class="gallery__item")
            img(src="assets/images/bracelet-2.jpg" alt="gallery")
        div(class="gallery-title")
          div(class="gallery-title__line")
          div(class="gallery-title__text")
            i(class="square")
            h5 Summer
            i(class="square")
          div(class="gallery-title__line")
        section(class="summer-gallery")
          -for (let i = 1; i < 9; i++)
            div(class="summer-gallery__item")
              img(src=`assets/images/list-${i}.jpg` alt="summer-gallery")
              div(class="summer-gallery__discount")= i % 2 ? '20%' : '15%'
              div(class="summer-gallery__button") Add to Cart
        div(class="gallery-title")
          div(class="gallery-title__line")
          div(class="gallery-title__text")
            i(class="square")
            h5 Brands
            i(class="square")
          div(class="gallery-title__line")
        div(class="brands")
          -for (let i = 1; i < 7; i++)
            div
              img(src=`assets/images/brand-${i}.jpg`, alt="brand")
        div(class="gallery-title")
          div(class="gallery-title__line")
          div(class="gallery-title__text")
            i(class="square")
            h5 Customers
            i(class="square")
          div(class="gallery-title__line")
      section(class="review")
        div(class="container review__box")
          div(class="review__item")
            div
              img(src="assets/images/promo-2.png")
            div(class="review__text shrink")
              p "Sed ut perspiciatis
                | unde omnis iste natus error sit
                | voluptatem accusantium doloremque"
                h5 Sandra Dewi
                span FASHION STYLISH
          div(class="review__item")
            div(class="order")
              img(src="assets/images/promo-3.png")
            div(class="review__text shrink")
              p "Sed ut perspiciatis
                | unde omnis iste natus error sit
                | voluptatem accusantium doloremque"
                h5 Shaheer Sheikh
                span DESIGNER
      footer(class="footer")
        div(class="footer-general footer-line container")
          div(class="footer-shops footer-block")
            h3(class="footer-shops__header footer-headers") shops
            label(class="footer__nav-button" for="footer__nav-button_box") shops
            input(type="checkbox" class="footer__nav-button_box" id="footer__nav-button_box")
            ul(class="footer-shops__nav footer-navs footer__mob-navs")
              -const shops = ['New In', 'Women', 'Men', 'Shoes', 'Bags & Accessories', 'Top Brands', 'Sale & Special Offers','LookBook'];
              -for (let i = 0; i < shops.length; i++)
                li
                  a(href="#")= shops[i]
          div(class="footer-information footer-block")
            h3(class="footer-information__header footer-headers") Information
            label(class="footer__nav-button" for="footer__nav-button_box2") Information
            input(type="checkbox" class="footer__nav-button_box" id="footer__nav-button_box2")
            ul(class="footer-shops__nav footer-navs footer__mob-navs")
              -const information = ['About us', 'Customer Service', 'New Collection', 'Best Sellers', 'Manufacturers', 'Privacy policy', 'Terms & condition', 'Blog'];
              -for (let i = 0; i < information.length; i++)
                li
                  a(href="#")= information[i]
          div(class="footer-service footer-block")
            h3(class="footer-service__header footer-headers") Custom Service
            label(class="footer__nav-button" for="footer__nav-button_box3") Custom Service
            input(type="checkbox" class="footer__nav-button_box" id="footer__nav-button_box3")
            ul(class="footer-shops__nav footer-navs footer__mob-navs")
              -const service = ['Search Terms', 'Advanced Search', 'Orders and Returns', 'Contact Us', 'RSS', 'Help & FAQs', 'Consultant', 'Store Locations'];
              -for (let i = 0; i < service.length; i++)
                li
                  a(href="#")= service[i]
          div(class="footer-connected footer-block")
            h3(class="footer-connected__header footer-headers") Stay Connected
            div(class="footer-connected__social-button")
              a(href="#")
                img(src="assets/images/FB.png" alt="social")
              a(href="#")
                img(src="assets/images/Instagram.png" alt="social")
              a(href="#")
                img(src="assets/images/Pinterest.png" alt="social")
              a(href="#")
                img(src="assets/images/feed.png" alt="social")
              a(href="#")
                img(src="assets/images/Twitter.png" alt="social")
            h3(class="footer-subscribe footer-headers") subscribe
              span in our news letter
            form(class="footer__form-search")
              input(name="s" placeholder="Enter Your Email Address" type="search" class="footer__form-search__input")
              button(type="submit" class="footer__form-search__button") Subscribe
